html {
  box-sizing: border-box;
  margin: 0px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  padding: 15px 15px;
  background-image: url("./film.jpg");
  background-attachment: fixed;
  background-size: cover;
  filter: contrast(120%);
  overflow: hidden;
}

/* // App Grid */

.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5em 8em minmax(200px, auto) minmax(10em, auto);
  grid-gap: 5px;
}

header {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  position: relative;
  background-color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: "curvise";
}

h1 {
  position: absolute;
  margin: auto;
  width: 50%;
  left: 25%;
}

.App> section {
  padding: 10px 10px;
  background-color: #ffffff;
}

section.search-bar {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  width: 100;
}

.search-bar input {
  width: 90%;
}

.search-bar button {
  display: inline;
}

section.results-list {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

section.nominations-list {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.email-form {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  background-color: #ffffff;
}
